
# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Batch scripts (Windows)
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Bash scripts (Unix)
*.sh text eol=lf
*.ps1 text eol=lf

# Explicitly declare text files for normalization
*.{js,jsx,ts,tsx} text eol=lf encoding=UTF-8
*.{json,md,yml,yaml} text eol=lf encoding=UTF-8
*.{css,scss,sass,less} text eol=lf encoding=UTF-8
*.{html,htm,xml,svg} text eol=lf encoding=UTF-8

# Declare files that will always have CRLF line endings on checkout.
*.{txt,rtf} text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.{png,jpg,jpeg,gif,ico,mov,mp4,mp3,zip,gz,pdf} binary

# Diff settings for code and docs
*.ts text diff=ts eol=lf
*.tsx text diff=ts eol=lf
*.js text diff=js eol=lf
*.json text diff=json eol=lf
*.md text diff=markdown eol=lf
