entrypoint = "server/index.ts"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[env]
PATH = "${REPLIT_NIX_CACHE}/bin"
XDG_CONFIG_HOME = "${REPLIT_NIX_CACHE}/.config"
npm_config_prefix = "${REPLIT_NIX_CACHE}"

run = "npm run dev"