<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Minimal configuration for Azure App Service Node.js -->
    <!-- Let Azure App Service handle most of the Node.js detection automatically -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode
      loggingEnabled="true"
      enableXFF="true"
    />
  </system.webServer>
</configuration>
